@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

.inventario-root {
	display: grid;
	place-items: center;
	height: 100%;
	width: 100%;
	background-size: cover;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#0CF;
}

.inventario1 {
	height: fit-content;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    display: table;
    flex-direction: column;
    background-color: white;
}

h1 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
	padding: 10px;
}

h2{
	display:block;
	font-size:17px;
}

.button-container {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
}
  
.boton {
	position: relative;
	cursor: pointer;
	width: 30%;
	border: none;
	background: #0CF;
	color: #FFF;
	margin: 10px;
	padding: 10px;
	font-size: 15px;
}

.detalles{
	font-size: 15px;
	text-align: left;
	margin-bottom: 10px;
}