@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

.main-page {
  height: 100vh;
  width: 100vw;
  /* margin: -300px; */
  /* min-width: 100vh; */
  /* min-height: 100vh; */
  /* padding: 15px; */
  /* display: flex; */
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: center;
  /* border: 1px solid white; */
  /* color: black; */
}

.app {
  display: flex;
  position: relative;
}

.content {
  width: 100%;
  height: 100vh;
}

/* body {
  height: 100vh;
  width: 100vh;
} */

/* #root {
  height: 100vh;
  width: 100vh;
} */

/* * {
  border-radius: 5px;
  background-color: white;
  padding: 0px;
  margin: 0px;
} */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
